// Buttons
.btn-primary{
	@include button-variant($primary, $primary, $primary-hover, $primary-hover, $primary-pressed, $primary-pressed);
	color:white;
	&:hover {
		color:white;
	}
}
.btn-secondary{
	@include button-variant($secondary, $secondary, $secondary-hover, $secondary-hover, $secondary-pressed, $secondary-pressed);
	color:white;
	&:hover {
		color:white;
	}
}

// Icon spacing
.btn span {
	&:first-child {
		padding-right:2.5px;
	}	
	&:last-child {
		padding-left:2.5px;
	}
}

.btn i[class^=icon-dym]{
	// dym icons have a larger spacing grid than font-awesome
	font-size:80%;
}

.btn-md {
	@include button-size($padding-medium-vertical, $padding-medium-horizontal, $font-size-medium, $line-height-medium, $btn-border-radius-medium);
}
